@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.page, .home, .about, .projects, .contact {
  padding: 2rem;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

footer,
nav,
main {
  transition: background-color 0.3s ease, color 0.3s ease;
}
